:root {
  --pure-white: #fff;
  --red: #fc4747;
  --dark-blue: #10141e;
  --greyish-blue: #5a698f;
  --semi-dark-blue: #161d2f;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10 px */
}
